@if(StateService.LoggedIn)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Chat Application</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/common/chat">
                    <span class="bi bi-chat-fill" aria-hidden="true"></span> Common Chat
                </NavLink>
            </div>
        </nav>
    </div>

}
<style>
     .nav-link .bi {
         display: inline-block;
         vertical-align: middle;
         font-size: 1.1rem;
         line-height: 1;
     }
</style>

